{% extends "layout.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-sm-4">
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=64) }}
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.author.label }}<br>
                {{ form.author(size=32) }}
                {% for error in form.author.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.body.label }}<br>
                {{ form.body(cols=70, rows=20) }}
                {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </div>
        <div class="col-sm-4">
            {% if form.image_path.data %}
            <p><img id="image_display" src="{{ imageSource + form.image_path.data }}" width="250" height="250" /></p>
            {% else %}
            <p><img id="image_display" width="250" height="250" /></p>
            {% endif %}
            <p>
                {{ form.image_path.label }}<br>
                {{ form.image_path }}
                {% for error in form.image_path.errors %}
                <span style="color: red;">{{ error.join(form.image_path.errors) }}</span>
                {% endfor %}
            </p>
            <p><input type="button" onclick="get_tags()" value="Get Tags"/></p>
            <p>
              {{ form.primary_tags.label }}<br>
              {{ form.primary_tags(size=1000) }}<br>
              {{ form.secondary_tags.label }}<br>
              {{ form.secondary_tags(size=1000) }}
            </p>
        </div>
    </div>
</form>
<script>
  function get_tags() {
    var imageElement = document.querySelector('input[type="file"]')
    console.log(imageElement);
    var data = new FormData()
    data.append('image_path', imageElement.files[0])

    fetch('/get_tags', {
      method: 'POST',
      body: data
    }).then(
      response => response.json()
    ).then(
      data => {
        console.log(data);
        document.getElementById('primary_tags').value = data.primary_tags.join(', ');
        document.getElementById('secondary_tags').value = data.secondary_tags.join(', ');
      }
    ).catch(
      error => console.log(error)
    );
  }

  var src = document.querySelector('input[type="file"]')
  var target = document.getElementById("image_display");
  function showImage(src,target) {
    var fr=new FileReader();
    fr.onload = function(e) { target.src = this.result; };
    src.addEventListener("change", function() {
      fr.readAsDataURL(src.files[0]);
    });
  }
  showImage(src, target);
</script>
{% endblock %}